@model HomePageBestsellersModel
@using Nop.Services.GiaHelper
@using Nop.Web.Models.Catalog;
@if (Model.Products.Count > 0)
{

    if (ViewBag.ViewType == GiaConstance.MenuViewType)
    {
        foreach (var p in Model.Products)
        {
    <div class="subItem">
        <div class="menuPro_image">
            <a href="@Url.RouteUrl("Product", new { productId = p.Id, SeName = p.SeName })" title="@p.DefaultPictureModel.Title">
                <img alt="@p.DefaultPictureModel.AlternateText" src="@p.DefaultPictureModel.ImageUrl"
                                        title="@p.DefaultPictureModel.Title" /></a>
        </div>
        <div class="mnuPro_des">
            <a href="@Url.RouteUrl("Product", new { productId = p.Id, SeName = p.SeName })" title="@p.DefaultPictureModel.Title">
                <span class="name">@Html.Truncate(p.Name, 30)</span></a>
        </div>
        <div class="clear-fix"></div>
    </div>
        }
        if (Model.Products.Count >= 3)
        {
    <div class="viewall">
        <span onclick="tab_click(2);" style="cursor: pointer;">View all</span>
    </div>
        }
    }
    else
    {
        foreach (var p in Model.Products)
        {
    <div class="product-item">
        <div align="center" class="image">
            <a href="@Url.RouteUrl("Product", new { productId = p.Id, SeName = p.SeName })" title="@p.DefaultPictureModel.Title">
                <img alt="@p.DefaultPictureModel.AlternateText" src="@p.DefaultPictureModel.ImageUrl"
                                        title="@p.DefaultPictureModel.Title" /></a>
        </div>
        <div class="description">

            <a href="@Url.RouteUrl("Product", new { productId = p.Id, SeName = p.SeName })" title="@p.DefaultPictureModel.Title">
                <span class="name">@Html.Truncate(p.Name, 20)</span></a><br />
            by <span class="by">@p.Manufacture</span><br />
            for @p.ObjectToServer
        </div>
        <div class="price">@p.ProductPrice.Price</div>
    </div>
        }

        Model.Paging.BaseUrl = "/catalog/index?name=" + ViewBag.CategoryName + "&type=" + GiaConstance.ClearanceKey + "&page=";
        Model.Paging.BaseUrl = Model.Paging.BaseUrl.ToLower().Replace("name=&", "").Replace("type=&", "");
        @Html.Partial("_GiaPaging", Model.Paging)
    }

}