@{
    Layout = null;
}
@model IList<ManufacturerModel>
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;

@if(Model!=null)
{

    <link rel="stylesheet" type="text/css" href="/Content/jcarousel/skin.css" />
    <style type="text/css">
        .jcarousel-prev,.jcarousel-next {
            display: none !important;
        }
    </style>
    <script type="text/javascript" src="/Content/jcarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript">

        function mycarousel_initCallback(carousel) {
            // Disable autoscrolling if the user clicks the prev or next button.
            carousel.buttonNext.bind('click', function() {
                carousel.startAuto(0);
            });

            carousel.buttonPrev.bind('click', function() {
                carousel.startAuto(0);
            });

            // Pause autoscrolling if the user moves with the cursor over the clip.
            carousel.clip.hover(function() {
                carousel.stopAuto();
            }, function() {
                carousel.startAuto();
            });
        };

        $(document).ready(function() {
            $('#brand_slide').jcarousel({
                auto: 2,
                wrap: 'last',
                initCallback: mycarousel_initCallback
            });
        });

    </script>


    <ul id="brand_slide" class="jcarousel-skin-tango">
        @foreach (var b in Model)
        {
            <li>
                <a href="@Url.RouteUrl("Manufacturer", new {manufacturerId = b.Id, SeName = b.SeName})" title="@b.PictureModel.Title">
                    <img alt="@b.PictureModel.AlternateText" src="@b.PictureModel.ImageUrl" title="@b.PictureModel.Title" width="115" height="35" /></a>
            </li>
        }
    </ul>

}