@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page">
    @*@Html.Action("AdminHeaderLinks", "Common")*@
    @Html.Partial("Header")
    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    @*<div class="header-menu">
        @Html.Action("TopMenu", "Catalog")
    </div>*@
    @Html.Partial("Mainmenu")

    <main id="site-content" class="site-content">
        <div class="container">
            @Html.Widget("content_before")

            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb")
            }
            <div class="master-column-wrapper">
                @RenderBody()
            </div>
            @Html.Widget("content_after")
        </div>
    </main> <!-- main contain -->
    
    @*@Html.Action("Footer", "Common")*@
    @Html.Partial("Footer")
</div>

@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")
