@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";
    var contentPath = "/Themes/" + currentThemeName + "/Content";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}

<div class="header">
    @Html.Widget("header")
    @*<div class="header-upper">
            <div class="header-selectors-wrapper">

                @Html.Action("TaxTypeSelector", "Common")

                @Html.Action("CurrencySelector", "Common")

                @Html.Action("LanguageSelector", "Common")

                @Html.Widget("header_selectors")
            </div>
            <div class="header-links-wrapper">
                @Html.Action("HeaderLinks", "Common")
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
        </div>
        <div class="header-lower">
            <div class="header-logo">
                <a href="@Url.RouteUrl("HomePage")">
                    <img title="" alt="@storeName" src="@Url.Content(logoPath)">
                </a>
            </div>
            <div class="search-box">
                @Html.Action("SearchBox", "Catalog")
            </div>
        </div>*@


    <!--
        <div class="container header-wrapper">
            <div class="main-logo col-md-6 col-sm-6">
                <img src="@contentPath/images/logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-6 header-right ">
                <div class="account-bar text-right">
                    @*<a href="javascript:void(0)" class="btn-login"><i class="fa fa-pencil"></i>Member Login</a>
                    <a href="javascript:void(0)">Sign Up</a>*@
                    @Html.Action("HeaderLinks", "Common")
                </div>
                <div class="row header-right-bottom">
                    <div class="col-md-6 shop-cart">
                        <span>Shopping Cart</span><span>(0 items - $0.00)</span>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group po-relative">
                                <input type="text" class="form-control input-search" placeholder="Search">
                                <a href="" class="btn-search"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-links-wrapper" style="display:none">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    -->

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-4-fluid header-left ">
                    <div class="toggleBox " id="btn-mobile-menu">
                        <button class="navToggle">
                            <span class="nav-icon"></span>
                        </button>
                    </div>
                    <h1 class="logo"><a href="javascript:void(0);"><img src="@contentPath/images/logo.png" alt="Takashimaya"></a></h1>
                </div>

                <div class="col-8-fluid header-right">
                    <ul class="header-member">
                        <li class="login"><a href="javascript:void(0);">Member Login</a></li>
                        <li><a href="javascript:void(0);">Join / Register</a></li>
                    </ul>

                    <div class="header-cart">

                        <div class="search-top">
                            <input type="text" class="keyword" placeholder="Tìm kiếm">
                            <button class="btn btn-default btn-search"></button>
                        </div>

                        <div class="shopping-cart">
                            Shopping Cart
                            <span>(0 items - $0.00)</span>
                        </div>

                    </div>

                </div>

            </div>


        </div>



    </header> <!-- End header -->
