@model Nop.Plugin.Widgets.IkBanner.Models.BannerWidgetzoneModel
@using Nop.Web.Framework;
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){} 
        window.close();
    </script>
}

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Widgetzone):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Widgetzone)
            @Html.ValidationMessageFor(model => model.Widgetzone)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.IsStatic):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.IsStatic)
            @Html.ValidationMessageFor(model => model.IsStatic)
        </td>
    </tr>
</table>
