<div id="top-header">
    <div class="top">
        <a href="@Url.RouteUrl("HomePage")">Home</a>
        <span>|</span>
        <a href="#">1-800 GIA Perfumes (727-3867)</a>
    </div>
    <a href="@Url.RouteUrl("HomePage")"><img class="mainlogo" src="/Content/layout/logo.jpg" /></a>
    <div id="ulitybar-top">
        <ul>
            <li>
                <a href="#" class="help">Help</a>
            </li>
            <li>
                <a href="#" class="old_status">Older Status</a>
            </li>
            <li>
                <a href="@Url.RouteUrl("CustomerInfo")" class="account">My Account</a>
            </li>
            <li>
                <a href="@Url.RouteUrl("ShoppingCart")" class="cart">View Cart</a>
            </li>
        </ul>
    </div>
    <div id="ulitybar-bottom">
        <div class="shopping_bag float-left">
            <span class="shopping_bag_text"><a href="@Url.RouteUrl("ShoppingCart")" id="cart-quantity">@Html.Action("GetShoppingCartItems", "Common") items</a></span>
        </div>
        <div class="float-left">
            @Html.Action("SearchBox", "Catalog")
            @*<input type="text" id="search_input" value="Product Search" onclick="txtSearch_focus('Product Search');" onmouseout="txtSearch_lostfocus('Product Search');" />
            <img src="/Content/layout/icon/search.png" style="cursor: pointer; float: left; margin-left: 5px;" />*@
        </div>
        <div class="clear-fix"></div>
    </div>
</div>

<script type="text/javascript">
    function txtSearch_focus(default_text) {
        if($("#search_input")[0].value==default_text) {
            $("#search_input")[0].value = "";
        }
    }
    function txtSearch_lostfocus(default_text) {
        if ($("#search_input")[0].value == "") {
            $("#search_input")[0].value = default_text;
        }
    }
</script>
